body{
    background-color: var(--grey-bg-color);
}
#leftNavbar{
    position: fixed;
    min-height: 100%;
    background-color: var(--grey-another);
    width: 5%;
    box-shadow: 4px 0px 0px 0px var(--grey-shadow-color);
    z-index: 10;
}
#topNavbar{
    position: absolute;
    background-color: white;
    width: 95%;
    height: 75px;
    left: 5%;
    z-index: 1;
    box-shadow: 0px 6px 0px 0px var(--grey-shadow-color);
}
#contentDiv{
    position: absolute;
    width: 94.5%;
    top: 80px;
    left: 5.5%;
}
.leftNavbarIcon{
    width: 30%;
    aspect-ratio: 1/1;
    margin-left: 35%;
}
.leftNavbarLabel{
    width: 100%;
    text-align: center;
}
#leftNavbarDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.leftNavbarBtnDiv{
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}
.leftNavbarBtnDiv.activate{
    background-color: var(--grey-btn-color)
}