body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--grey-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --grey-bg-color: #f6f6f6;
  --purple-color: #3c3656;
  --grey-another: #f4f5f7;
  --grey-shadow-color: #ededee;
  --dark-grey-color: #616161;
  --dark-grey-text: #b4b4b4;
  --grey-btn-color: #e2e3e7;
}